body {
  background-color: #2C0022;
  color: #E7C0DE;
  font-family: monospace;
  font-size: 1.5em;
  width:800px;
}
.info-bit {
  padding-top: 10px;
  padding-bottom: 10px;
}
#my-name{
  font-size:1.4em;
}
a:link{
  color:#7ABD68;
}
a:visited {
  color:#7ABD68;
}
a:hover {
  color:#FFFAC2;
}
a:active {
  color:#FFFAC2;
}
#main {
  margin-left: 30px;
}
#cat-image {
  width:70%;
}
#profile-picture img {
  height: 300px;
  border-radius: 300px;
  -webkit-border-radius: 300px;
  -moz-border-radius: 300px;
}
