body {
  /*background-color: #9AE1F6;*/
  background-color: #E2D2AB;
  color: #000;
  font-family: monospace;
  font-size: 1.3em;
  width:800px;
}
.info-bit {
  padding-top: 10px;
  padding-bottom: 10px;
}
#my-name{
  font-size:1.4em;
}
a:link{
  color:#434644;
}
a:visited {
  color:#43BA72;
}
a:hover {
  color:#C76CE0;
}
a:active {
  color:#FE2EF7;
}
#main {
  margin-left: 30px;
}
#cat-image {
  width:70%;
}
#profile-picture img {
  height: 300px;
  border-radius: 300px;
  -webkit-border-radius: 300px;
  -moz-border-radius: 300px;
}
